
.container {
    background-image: url("../../public/assets//background/in-move-bg-blurred.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    /* padding: 10rem; */
    min-height: 100vh;

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/*  */

.SlideItem {
    display: flex;
    flex-direction: column;
    /* border: 1.2px solid white; */
    border-radius: 10px;
    /* width: 15rem; */
    padding: 2rem 1rem;
    background: rgba(92, 79, 114, 0.15);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 1.2s ease-out;
    justify-content: center;
    align-items: center;
    min-height: 32rem;
}


.SlideParagraph {
    /* width: 20rem; */
    font-size: 1rem;
}

.Heading {
    font-size: 1.2rem;
    color: white;
    /* padding: none; */

}

.SlideButton {
    border: none;
    background-color: #ca0079;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

.SlideButton:hover {
    background-color: #dd2091;
    color: white;
    box-shadow: 0px 0px 15px rgba(216, 241, 255, 0.247);
}

.titlePage {
    color: white;
    text-align: center;
    margin-top: 5rem;
}


.ImageCardSize {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .mySwiper{
    position: absolute;
    display: none;
} */

@media only screen and (max-width: 600px) {
    /* .ImageCardSize {
        height: 20%;
    } */

    .SlideImage{
        height: 10rem;
        width: 10rem;
    }

    .SlideItem{
        margin: 2rem 0;

        width: 80vw;
        padding: 2rem;
    }

    .container{
        padding: 2rem 0;
    }

    .ImageCardSize{
        max-width: 10rem;

    }
}
/* 
@media only screen and (max-width: 1200px){
    .SlideImage{
        display: block;
        max-height: 10rem;
        max-width: 10rem;
        border-radius: 4px;
        height: auto;
        width: auto;
    }
} */

.SlideImage{
    display: block;
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 4px;
    height: auto;
    width: auto;
}


.BoothLoading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 5rem 0;
}

.BoothLottie{
    margin:  0 0 0 3rem;
}

.BoothLoader{
    color: white;
}

.BoothCursor{
    color: white;
    background-color: white;
    display: none;
}