.displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 1rem;
    /* background: rgb(32,13,43); */
    background-image: url('../../public/assets/background/in-move-bg-blurred.jpg');
    /* background: linear-gradient(90deg, rgba(32,13,43,0.5) 0%, rgba(53,13,48,0.5) 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    overflow-x: hidden;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.displayImg {
    width: 30vw;
}

.displayTitle {
    font-size: 2rem;
    text-align: center;
}

.displayDesc {
    font-size: 1rem;
    width: 60vw;
    padding: 3rem 0;
    /* text-align: justify; */
}

.displayButton{
    border: none;
    background-color: #ca0079;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

.displayButton:hover{
    background-color: #dd2091;
    color: white;
    box-shadow: 0px 0px 15px rgba(216, 241, 255, 0.247);
}

.DisplayTitle{
    width: 60vw;
    text-align: center;
}