.container {
    background-image: url("../../public/assets//background/in-move-bg-blurred.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5rem 1rem;
    min-height: 100vh;
    overflow: hidden;
    color: white;
}

.mainTitle {
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    padding: 2rem 2rem;
    margin: 2rem 3rem;

    background: rgba(92, 79, 114, 0.15);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    /* border: 1px solid #657cc99d; */
    transition: all 0.8s ease-out;
}

.cardContainer:hover{
    transform: translateY(-8px);
}

.cardWrapper {
    display: flex;
    flex-direction: row;
}

.cardButton{
    border: none;
    background-color: #ca0079;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

.cardButton:hover{
    background-color: #dd2091;
    color: white;
    box-shadow: 0px 0px 15px rgba(216, 241, 255, 0.247);
}

@media only screen and (max-width: 950px) {
    .cardWrapper{
        flex-direction: column;
    }
    .mainTitle{
        font-size:1.5rem;
    }

    .cardContainer{
        padding: 1rem;
    }
    .container{
        padding-top: 10rem;
    }
}